body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #222;
  padding: 10px;
  border-radius: 10px;
}

img {
  width: 100%;
}